<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <contextName>logback-spring-demo-dev</contextName>
    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg %n"/>
    <property name="pattern-color" value="%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level)  %green(%logger{50}) - %highlight(%msg) %n"/>
    <property name="LOG_HOME" value="logs"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!-- 控制台输出-带颜色 -->
    <appender name="CONSOLE-WITH-COLOR" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--表示增加日志流水号，以便于查看日志，但是目前这个功能对于我这个日志不太好看，在生产环境下，再进行使用-->
            <!--%yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) [%thread] %highlight(%-5level)  %green(%-18X{LOG_ID}) %green(%logger{50}) - %highlight(%msg) %n"-->
            <pattern>${pattern-color}</pattern>
        </encoder>
    </appender>

    <!-- 文件输出 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/all.%d.%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <!--<appender name="mqAppender1" class="org.apache.rocketmq.logappender.logback.RocketmqLogbackAppender">-->
        <!--<tag>vote</tag>-->
        <!--<topic>VOTE</topic>-->
        <!--<producerGroup>default</producerGroup>-->
        <!--<nameServerAddress>127.0.0.1:9876</nameServerAddress>-->
        <!--<layout>-->
            <!--<pattern>%date %p %t - %m%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!--<appender name="mqAsyncAppender1" class="ch.qos.logback.classic.AsyncAppender">-->
        <!--<queueSize>1024</queueSize>-->
        <!--<discardingThreshold>80</discardingThreshold>-->
        <!--<maxFlushTime>2000</maxFlushTime>-->
        <!--<neverBlock>true</neverBlock>-->
        <!--<appender-ref ref="mqAppender1"/>-->
    <!--</appender>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE-WITH-COLOR"/>
        <appender-ref ref="FILE"/>
        <!--<appender-ref ref="mqAppender1"/>-->
    </root>

    <logger name="com.example.logbackdemo.IndexAction" level="info" additivity="false">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
